.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__chat-header
      .Chat-main__group-info__chat-header__Group-name
        = @group.name
      %ul.Chat-main__group-info__chat-header__group-member
        Member：
        - @group.users.each do |g|
          %li.Chat-main__group-info__chat-header__group-member__member
            &nbsp;
            = g.name
    = link_to edit_group_path(current_user), class:'edit-btn' do
      Edit

  .Chat-main__message-list
    = render partial: 'message', collection: @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
      .Chat-main__message-form__leftInput
        = form.text_field :body, placeholder: "type a message", class: "textInput"
        = form.label :image, class: "imageInput" do
          %i.fa.fa-image
          = form.file_field :image, class:"file-select"
      = form.submit "Send", class: "submit-btn"